*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 20px;
  
}

nav ul li {
  margin-right: 5%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 10px;
  background-color: rgb(246, 237, 219);
  text-align: center;
  margin-left: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-item:hover {
  background-color: #a3dbf1 ;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.nav_text{
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
}

.icons{
  padding-left: 20%;
}

.icon{
  max-width: 30px;
  max-width: 30px;
}

.navbar__logout{
  text-decoration: underline;
}

.achtergrondNav{
  background-color: #a3dbf1 ;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

footer{
  background-color: #a3dbf1 ;
  padding: 30px;
  text-align: center;
  margin-top: 10px;
}

.terug{
  font-weight: bolder;
  font-size: 22px;
  color: white;
}

.terug:hover{
  color: #f8b4f9;
}