*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.container{
    margin-left: 2%;
    padding-left: 5%;
    padding-bottom: 5%;
    box-shadow: #376c7a 0px 0px 5px ;
    border-radius: 5px;
}

.form__field label{
  display: block;
  margin-bottom: 0.2em;
  margin-left: 5%;
}

.form__field .label__inline{
  display: inline-block;
}

.form__field input[type=text], 
.form__field input[type=number],
.form__field select
{
  width: 80%;
  padding: 0.05em;
  font-size: 1.2em;
  border: 1px solid #376c7a;
  margin-left: 5%;
}

.form__field input[type=file]{
  width: 80%;
  padding: 0.05em;
  font-size: 1.1em;
  margin-left: 5%;
  padding-bottom: 15px;
}

.btn{
    width: 80%;
    margin: 0.5em auto;
    margin-left: 5%;
}


.btn--primary{
    background-color: #5d8590;
    color: white;
    text-align: center;
    border: none;
    padding: 0.3em 2em;
    font-size: 1.4em;
    border-radius: 5px;
}

form{
  padding-left: 5%;
}

h2, h3{
  color: #376c7a;
}
  