*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  
}

nav ul li {
  margin-right: 5%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 10px;
  background-color: rgb(246, 237, 219);
  text-align: center;
  margin-left: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-item:hover {
  background-color: #a3dbf1;
}

a {
  text-decoration: none;
  color: black;
  
}

.nav_text{
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
}

.icons{
<<<<<<< HEAD
  padding-left: 40%;
=======
  padding-left: 30%;
>>>>>>> 2006ca7 (update 3 13/11)
}

.icon{
  max-width: 30px;
  max-width: 30px;
}

.navbar__logout{
  text-decoration: underline;
}